{% extends 'base.html' %}
{% load static %}

<head>
    {% block title %}
    TESTE
   {% endblock%}

</head>
<body>

    {% block content %}

    <h3>Selecione um grupo de hosts:</h3>
    <div id="container-center" class="container-center" >
        <div class="grupo-select">   
            <form>
                <select id="grupo-select" class="grupo-select" onchange="atualizarHosts()">
                    <option value="">Selecione um grupo</option>
                    {% for grupo in grupos %}
                        <option value="{{ grupo.groupid }}">{{ grupo.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <div id="hosts-container" class="hosts-container">
            <!-- Os hosts selecionados aparecerão aqui -->
            <form action="">
                <label for="hosts-select">Escolha um host:</label>
                <select name = "hosts" id="hosts-select" placeholder="valor"></select>

                <label for="data_inicial">Data de inicio</label>
                <input type="datetime-local" name="data_inicial" id="data_inicial">
                <label for="data_final">Data de inicio</label>
                <input type="datetime-local" name="data_final" id="data_inicial">

                <div class="input-group-append" id="botao">
                    <button class="btn btn-primary" type="submit" >Salvar</a></button>
                </div>
            </form>

        </div>

    </div>
    <div class="linha"></div>

    <div >
        <canvas id="grafico-disponibilidade"></canvas>
    </div>

    <div class="linha"></div>
    <div class="botão-salvar">
        <button class="btn btn-primary" type="submit" >
            <a href="{% url 'disponibilidade_selecionada' %}">Confirmar</a>
        
        </button>
    </div>
    <div class="linha"></div>


    <div class="trans_borde">
        <div class="table-responsive">
            <table class="table table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ambiente</th>
                        <th>Sonda</th>
                        <th>Localidade</th>
                        <th>Host</th>
                        <th>Data Inicio</th>
                        <th>Data final</th>
                        <th>Disponibilidade (%)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in avail_data %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.ambiente }}</td>
                            <td>{{ item.sonda }}</td>
                            <td>{{ item.localidade }}</td>
                            <td>{{ item.NOME }}</td>
                            <td>{{ item.hora_inicial }}</td>
                            <td>{{ item.hora_final }}</td>
                            <td>{{ item.percent_availability }}</td>
                        </tr>
                        <script>
                            var teste = {{item.valor}}
                            console.log(teste)
                        </script>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="trans_borde">
        <div class="table-responsive">
            <table class="table table-striped" style="width: 150px;">
                <thead>
                    <tr>
                        <th>Horario: </th>
                        <th>Status</th>
                    </tr>
                </thead>
                
                <tbody>               
                    {% for data in horario_data %}
                        <tr>
                            <td>{{ data.horario }}</td>
                            <td>{{ data.status }}</td>
                        </tr>
                        <script>
                            var data_js = {{data.horaio_grafico}}
                            console.log(data_js)
                        </script>
                    {% endfor %}   
                </tbody>
            </table>
        </div>
    </div>

    <script>
 
        function criarGraficoDisponibilidade() {
            const dados = teste;
            //const labels = datas_formatadas
            const labels = dados.map((_, index) => `Hora ${index + 1}`);
            
            const ctx = document.getElementById('grafico-disponibilidade').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Disponibilidade',
                        data: dados,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 2,
                        pointRadius: 5,
                        pointBackgroundColor: dados.map(point => point === 1 ? 'green' : 'red')
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 1.2
                        }
                    },
                    layout: {
                        padding: {
                            left: 10,
                            right: 10,
                            top: 10,
                            bottom: 20
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        }

        // Chame a função para criar o gráfico quando a página carregar
        window.onload = criarGraficoDisponibilidade;

        function filtrarGrupos() {
            const input = document.getElementById('grupo-filtro');
            const filter = input.value.toLowerCase();
            const grupos = document.querySelectorAll('#grupo-select option');

            grupos.forEach(option => {
                const groupName = option.text.toLowerCase();
                if (groupName.includes(filter)) {
                    option.style.display = 'block';
                } else {
                    option.style.display = 'none';
                }
            });
        }

        document.getElementById('grupo-filtro').addEventListener('input', filtrarGrupos);
        document.getElementById('grupo-select').addEventListener('change', function () {
            atualizarHosts();
            filtrarGrupos();  // Garante que a filtragem é aplicada ao selecionar um grupo
        });
        
        function atualizarHosts() {
            const selectedGroup = document.getElementById('grupo-select').value;
            const hostsSelect = document.getElementById('hosts-select');
            hostsSelect.innerHTML = '';  // Limpa o conteúdo anterior
    
            if (selectedGroup) {
                fetch(`/api/obter_hosts_por_grupo/${selectedGroup}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.hosts.length === 0) {
                            const option = document.createElement('option');
                            option.text = 'Nenhum host encontrado para este grupo.';
                            hostsSelect.appendChild(option);
                        } else {
                            data.hosts.forEach(host => {
                                const option = document.createElement('option');
                                option.value = host.hostid;  // Use o hostid como valor
                                option.text = host.name;
                                hostsSelect.appendChild(option);
                            });
                        }
                    });
            }
        }
    </script>

    {% endblock%}
</body>
</html>